body {
   
    
}

a {
    color: azure;
    text-align: center;
}

nav {
    text-align: center;
}

* {
    box-sizing: border-box;
}   

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: sandybrown;
    
}


section {
    height: 100vh;
    padding: 10em;
    background-color: salmon;
    }

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

a {
    color: white;
    font-weight: bold;
    text-align: center;
}
